html {
  font-size: 62.5%;
  min-height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background: #2b5876;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #4e4376, #2b5876);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #4e4376, #2b5876); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-repeat:no-repeat
}

body {
  color: #f6f6f6;
  font-family: 'Roboto', sans-serif;

  max-width: 950px;
  margin: 0 auto;
}