
h6 {
  color: #f6f6f6;
  font-size: 2.3rem;
  font-style: italic;
  font-weight: 200;
  margin: 1.5rem 0;
  text-transform: uppercase;
}

p {
  font-size: 2rem;
  font-weight: 300;
}

span {
  font-style: italic;
  font-weight: 400;
  text-transform: uppercase;
}

.container {
  margin: 0 1.5rem;
}

.imgContainer {
  text-align: center;
}

.fullsizeImage {
  max-height: 1100px;
  height: 90vh;
  border-radius: 10px;
}
