img {
  max-width: 17vw;
  margin-right: .5rem;
border-radius: 8px;
}

.spreadTitle {
  font-weight: 200;
  margin-bottom: 2rem;
}

.cardFlex {
  display: flex;
}

.cardCentering {
  text-align: center;
}